<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCst2agDhI9j297tt6ZWP7HY6h04mcm1rM</string>
	<key>GCM_SENDER_ID</key>
	<string>25141980163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thavisubgroup.applaopt</string>
	<key>PROJECT_ID</key>
	<string>thavisub-51b2d</string>
	<key>STORAGE_BUCKET</key>
	<string>thavisub-51b2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25141980163:ios:c28d6265dbc4338c8df236</string>
</dict>
</plist>